.inputSuscribe {
  background-color: white;
  width: 40%;
}

.inputSuscribe::placeholder {
  color: #A0A0A0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsLetter {
  background-color: var(--primaryBg);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.suscribeText {
  color: #FFF;
  font-weight: bold;
}

.rowLeft {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 47px;
}

.rowLeft>img {
  margin-right: 10px;
}

.rowRight {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 47px;
}

.btnSuscribe {
  background-color: var(--fontColor);
  color: white;
  height: 40px;
  width: 92px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  margin-left: 16px;
}

footer {
  height: 45vh;
  background-color: var(--fontColor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconDesc {
  margin-left: 25px;
  color: #8A8787;
}

.logoFooter {
  margin-right: 70px;
}


@media only screen and (max-width: 670px) {

  .newsLetter {
    flex-direction: column;
  }

  .rowRight {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 15px;
  }

  .rowLeft {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 47px;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .inputSuscribe {
    background-color: white;
    width: 261px;
    height: 35px;
    margin-bottom: 10px;
  }

  .btnSuscribe {
    width: 100px;
    height: 35px;
    margin-left: 0px;
    margin-right: 29px;
  }

  footer {
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-around;
    height: 35vh;
  }

  .logoFooter {
    margin: 0;
  }

  .iconWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .iconContainer {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .bottom {
    font-size: 13px;
  }
}