.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 19px;
}

.navList>li {
  margin: 0 0 0 20px;
}

.navList>li>a,
i {
  color: var(--rectangleColor);
}


.navMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}

.navLogo {
  margin-left: 5%;
  margin-top: 19px;
}