.hero {
  background-color: var(--primaryBg);
  height: 10vh;
}

.hero-image {
  background: url('../img/banner.png');
  background-size: cover;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.bannerTitle {
  text-align: center;
  margin-right: 2.5%;
  color: var(--fontColor);
  margin-top: 55px;
}

h1 {
  background: var(--rectangleColor);
  padding: 10px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
  font-size: 2.7rem;
  word-spacing: 2px;
}

.bannerTitle>p {
  margin-top: 12px;
  font-size: 1.5rem;
}

.btnBanner {
  margin-top: 12px;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: var(--primaryBg);
  padding: 23px;
  border-radius: 5px;
  border: none;
}