.sectionCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3%;
  width: 100%;
}

.productImg {
  width: 100%;
  min-width: 264px;
  height: auto;
  min-height: 312px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--cardColor);
}

.mid {
  margin: 0 20px;
}

.card>p {
  color: var(--primaryBg);
  font-weight: 500;
  margin-bottom: 7.5px;
}