@import 'top-header.css';
@import 'header.css';
@import 'hero.css';
@import 'featured-items.css';
@import 'productsCards.css';
@import 'form.css';
@import 'footer.css';
@import 'mobileMenu.css';


:root {
  --fontBase: 'Roboto', sans-serif;
  --fontColor: #3C2313;
  --primaryBg: #F0A83E;
  --buttonResBg: #8A8787;
  --linkSecondary: #666666;
  --rectangleBg: #222222;
  --rectangleColor: #F3F3F3;
  --cardColor: #FBFAF6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontBase);
  min-block-size: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}